li a:hover {
    color: orange;
}

.open {
    display: flex;
}

.closed {
    display: none;
}

.sidebar {
    transition: width 0.3s ease; /* Add a transition effect for the width property */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 1000; /* Adjust the z-index as needed */
  }
  
  .sidebar.expanded {
    width: 300px; /* Initial width when expanded */
  }
  
  .sidebar.collapsed {
    width: 0; /* Width when collapsed */
    overflow: hidden; /* Hide the content when collapsed */
  }

  

